<!DOCTYPE html>
<html data-ng-app="chemApp">
  <head>
    <title>ChemLabNote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body ng-app="chemApp">
    <!-- <%= #render 'layouts/header' %> -->
    <!-- <% #if notice %> -->
      <!-- <p class="notice"><%= notice %></p> -->
    <!-- <% end %> -->
    <!-- <% if notice %> -->
      <!-- <p class="alert"><%= alert %></p> -->
    <!-- <% end %> -->

    <div class="container">
      <%= yield %>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
